<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <import resource="dataSource.xml" />
  <import resource="dao.xml" />
  <import resource="service.xml" />
  <!-- 第一次啟動系統時要做的事 -->
  <!--
  <import resource="init.xml" />
  -->
</beans>
